<section id="statements-wrapper">
    <section id="redeemToCard" class="main-content">
        <div class="reward-banner">
                    <span><span style="font-size: 48px">Redeem Your</span> <span style="font-size: 48px;color: #33cc66;">Cashback</span>
                        <img src="images/redeem-rewards-font.png" style="width: 200px;vertical-align: -13px;">
                    </span>

            <br>
            <span style="color: #666666">Number of months that you have active purchases in a row <a href="#" style="color: #33cc66;">Learn More</a></span>



        </div>

        <div class="months">
            <div>1</div>
            <div>2</div>
        </div>
        <div id="card-content">
            <div id="redeem-card">
                <span class="redeem-amount">$72.00</span>
            </div>
            <div id="card-info" class="redeem-reward-section white-bg">How much of your Cashback Rewards Would you like to redeem? <br>
                <input type="text" value="$72.42">
                <button class="submit-button" ui-sref="redeemToCard">Apply To Your Signature Card ending in *1253</button></div>
        </div>
    </section>
    <section>
        <div id="self-service-content">
            <!--self-service directive-->
            <div>
                <div id="self-service-header">
                    <span class="ng-binding">Self Service Shortcuts</span>
                </div>
                <div id="self-service-body">
                    <ul id="shortcuts">
                        <li>
                            <a href="#" class="ng-binding">Turn Off Account</a>
                        </li>
                        <li>
                            <a href="#" class="ng-binding">Turn Off Account</a>
                        </li>
                        <li>
                            <a href="#" class="ng-binding">Turn Off Account</a>
                        </li>
                        <li>
                            <a href="#" class="ng-binding">Turn Off Account</a>
                        </li>
                    </ul>
                </div>
            </div>
            <a ng-click="vm.payCurrentBal()">
                <div class="check-score-free">
                    <span>Check Your Score For FREE!</span>
                </div>
            </a>
        </div>
    </section>
</section>