<section id="statements-wrapper">
    <section id="redeemToCard" class="main-content">
        <!--<h1 class="title">Account Activity</h1>-->
        <div id="card-content">
            <div id="redeem-card">
                <span class="redeem-amount">$72.00</span>
            </div>
            <div id="card-info" class="redeem-reward-section">
                <div class="reward-banner">
                    <span>
                        <span style="font-weight: bold">Congratulations!</span> You recieved 10% more in<br>
                        <span style="font-size: 30px;color: #33cc66;">Cashback</span>
                        <img src="images/redeem-rewards-font.png" style="width: 138px;vertical-align: -10px;"><br>
                        for redeeming them to your checking account
                    </span>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div id="self-service-content">
            <!--self-service directive-->
            <div>
                <div id="self-service-header">
                    <span class="ng-binding">Self Service Shortcuts</span>
                </div>
                <div id="self-service-body">
                    <ul id="shortcuts">
                        <li>
                            <a href="#" class="ng-binding">Turn Off Account</a>
                        </li>
                        <li>
                            <a href="#" class="ng-binding">Turn Off Account</a>
                        </li>
                        <li>
                            <a href="#" class="ng-binding">Turn Off Account</a>
                        </li>
                        <li>
                            <a href="#" class="ng-binding">Turn Off Account</a>
                        </li>
                    </ul>
                </div>
            </div>
            <a ng-click="vm.payCurrentBal()">
                <div class="check-score-free">
                    <span>Check Your Score For FREE!</span>
                </div>
            </a>
        </div>
    </section>
</section>