<section id="statements-wrapper">
    <section class="main-content">
        <h1 class="title">Activate/Turn Off Your Card</h1>
        <div id="card-content turnCardOff">
            <div class="card-info " >
                <p>You get control over your card, don't wait until you have contacted someone to, turn it off in case you lose it or it gets stolen.
                </p>
            </div>
            <div class="turnCardOff-display">
                <div id="signature-card"></div>
                <div class="card-info">
                    <table>
                        <tbody><tr>
                            <th>Card Status</th>
                            <td style="
">XXXX-XXXX-XXXX-1234</td>
                        </tr>
                        <tr>
                            <td rowspan="2">
                                <div class="onoff">

                                </div>
                            </td>
                            <td>02/2020</td>

                        </tr>
                        <tr>
                            <td>Smith, john</td>
                        </tr>
                        </tbody></table>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div id="self-service-content">
            <!--self-service directive-->
            <div>
                <div id="self-service-header">
                    <span class="ng-binding">Self Service Shortcuts</span>
                </div>
                <div id="self-service-body">
                    <ul id="shortcuts">
                        <li>
                            <a href="#" class="ng-binding">Turn Off Account</a>
                        </li>
                        <li>
                            <a href="#" class="ng-binding">Turn Off Account</a>
                        </li>
                        <li>
                            <a href="#" class="ng-binding">Turn Off Account</a>
                        </li>
                        <li>
                            <a href="#" class="ng-binding">Turn Off Account</a>
                        </li>
                    </ul>
                </div>
            </div>
            <a ng-click="vm.payCurrentBal()">
                <div class="check-score-free">
                    <span>Check Your Score For FREE!</span>
                </div>
            </a>
        </div>
    </section>
</section>