<section id="statements-wrapper">
    <section class="main-content">
        <h1 class="title">Understanding Your Cash Back Rewards</h1>
        <div class="understand-wrapper">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci</p>
            <div class="slideshow">
                <div class="understand-display">
                    <div ui-view></div>
                </div>
                <div class="understand-options">
                    <ul>
                        <li><a ui-sref=".cashBack15">1.5% Cash Back on purchases</a></li>
                        <li><a ui-sref=".Bonus10">10% bonus on cash back reward</a></li>
                        <li><a ui-sref=".CalculateCashBack">Calculate your rewards</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div id="self-service-content">
            <!--self-service directive-->
            <div>
                <div id="self-service-header">
                    <span class="ng-binding">Self Service Shortcuts</span>
                </div>
                <div id="self-service-body">
                    <ul id="shortcuts">
                        <li>
                            <a href="#" class="ng-binding">Turn Off Account</a>
                        </li>
                        <li>
                            <a href="#" class="ng-binding">Turn Off Account</a>
                        </li>
                        <li>
                            <a href="#" class="ng-binding">Turn Off Account</a>
                        </li>
                        <li>
                            <a href="#" class="ng-binding">Turn Off Account</a>
                        </li>
                    </ul>
                </div>
            </div>
            <a ng-click="vm.payCurrentBal()">
                <div class="check-score-free">
                    <span>Check Your Score For FREE!</span>
                </div>
            </a>
        </div>
    </section>
</section>