<div>
    <ul id="cashback-outline">
        <li>
            <span>Earn %1.5 on every purchase</span>
        </li>
        <li>
            <h1>Current Cash Back Total</h1>
            <h3>$1,345.90 available to redeem</h3>
        </li>
        <li>
            <h1>Total Cash Back Earned</h1>
            <h3>$4,222.00</h3>
        </li>
        <li>
            <button ng-click="">
                <img src="images/calc-icon.png"/>
                <span>Calculate Cash Rewards</span>
            </button>
            <p>
                See how much you can earn just for<br>
                using your Cash back Rewards card
            </p>
        </li>
    </ul>
</div>